.nav {
    gap: 2rem;
    overflow: visible;
}

.container {
    max-width: unset;
}

.nav__hamburguer {
    display: none;
}

.nav__screen {
    pointer-events: unset;
    position: unset;
    background-color: transparent;
    opacity: 1;
    flex: 1;
}

.nav__menu {
    position: unset;
    width: 100%;
    max-width: unset;
    background-color: unset;
    padding: 0;
    overflow: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav__buttons {
    display: inherit;
    flex-direction: row;
    width: max-content;
    margin: unset;
}

.nav__button {
    padding: 0.7em 1.5em;
}

.main {
    padding: 0 75px;
}

.hero {
    margin-top: 30px;
    grid-auto-flow: column;
    direction: rtl;
    align-items: center;
    padding: unset;
    object-position: center;
    grid-template-columns: 1fr 1fr;
}

.hero__pictures {
    max-width: 500px;
    padding: 0 10px;
}

.hero__img {
    height: 100%;
}

.hero__article {
    padding: 75px 50px;
}

.hero__texts {
    text-align: left;
    margin: 0 auto;

}

.hero__title {
    font-size: 4.5rem;
}

.hero__paragraph {
    margin: 5rem 0;
    font-size: 1.2rem;
    padding: 0;
}

.hero__link {
    padding: 1rem 1.8rem;
}

.hero__brands {
    margin: unset;
    margin-top: 70px;
}

.hero__brands{

}