:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epilogue", sans-serif;
}

p {
    font-weight: 18px;
}

.nav {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__hamburguer {
    width: 40px;
    height: 40px;
    background-image: url('../assets/icons/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}