:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epilogue", sans-serif;
}

p {
    font-weight: 18px;
}